@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebarDiv {
    @apply flex justify-start pl-4 items-center gap-3;
  }
  .sidebarItem {
    @apply text-lg cursor-pointer border-b border-transparent hover:border-b-black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
